.root {
	-fx-background: -fx-main-bg-color;
}

.text {
	-fx-fill: -fx-text-color;
	-fx-font-family: 'Segoe UI';
}

.border-pane {
	-fx-background-color: "#c6ccd8";
}


.h1 {
	-fx-fill: -fx-text-color;
	-fx-font-size: 40;
	-fx-font-family: 'Segoe UI';
}

.p {
	-fx-fill: -fx-text-color;
	-fx-font-size: 16;
	-fx-font-family: 'Segoe UI';
}