@import "styles.css";

* {
	-fx-main-bg-color: #1a1a1a;
	-fx-button-color: #A32C22;
	-fx-highlight-color: #E16A26;
	-fx-dark-focus: #89341C;
	-fx-widget-bg-color: #4C4A4A;
	-fx-widget-bg-text-color: #7e7979;
	-fx-light-focus: #005C8F;
	-fx-radio-button-dot-color: #009BBF;
	-fx-text-color: #F3E1CD;
	-fx-day-button-color: #959191;
}